/* Utility Classes */
.textBalance {
  text-wrap: balance;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.button {
  padding: 0.75rem 1.5rem;
  background-color: rgb(var(--foreground-rgb));
  color: rgb(var(--background-start-rgb));
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.button:hover {
  background-color: rgba(var(--foreground-rgb), 0.8);
  color: rgba(var(--background-start-rgb), 0.9);
}
