.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: bold;
  font-size: 36px;
  background: linear-gradient(
    90deg, 
    #fa4343 0%, 
    #fb889b 33%, 
    #2ec479 66%, 
    #fa4343 100%
  ); /* Smooth stops for colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 20s linear infinite;
  background-size: 400% 100%; /* Extend background size further for smoother flow */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%; /* Slow and smooth one-directional movement */
  }
}


.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logout {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
